@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_MobileShopHomePageLayout.cshtml";
}

@*<h2>HomePage</h2>*@

<!-- Container (The Band Section) -->
@*<div id="band" class="container text-center">
        <h3>THE BAND</h3>
        <p><em>We love music!</em></p>
        <p>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-center"><strong>Name</strong></p><br>
                <a href="#demo" data-toggle="collapse">
                    <img src="~/Content/Images/bandmember.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>
                <div id="demo" class="collapse">
                    <p>Guitarist and Lead Vocalist</p>
                    <p>Loves long walks on the beach</p>
                    <p>Member since 1988</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Name</strong></p><br>
                <a href="#demo2" data-toggle="collapse">
                    <img src="~/Content/Images/bandmember.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>
                <div id="demo2" class="collapse">
                    <p>Drummer</p>
                    <p>Loves drummin'</p>
                    <p>Member since 1988</p>
                </div>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Name</strong></p><br>
                <a href="#demo3" data-toggle="collapse">
                    <img src="~/Content/Images/bandmember.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>
                <div id="demo3" class="collapse">
                    <p>Bass player</p>
                    <p>Loves math</p>
                    <p>Member since 2005</p>
                </div>
            </div>
        </div>
    </div>*@

<h1>Latest Mobiles</h1>

<div class="bg-1">

    <div class="container-fluid">

        <div class="row text-center">
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/LatestMobileImages/5580427_sd-600x600.jpg" class="img-responsive">
                    <p><strong>I-phone</strong></p>
                    <p>60000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/LatestMobileImages/Capture ...-600x600.jpg" class="img-responsive" />
                    <p><strong>Galaxy s2</strong></p>
                    <p>40000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/LatestMobileImages/reno-4-600x600.gif" class="img-responsive" />
                    <p><strong>Reno</strong></p>
                    <p>45000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/LatestMobileImages/one-600x600.png" class="img-responsive" />
                    <p><strong>Oneplus</strong></p>
                    <p>38000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/LatestMobileImages/oppo f17 c 1-600x600.jpg" class="img-responsive" />
                    <p><strong>f17</strong></p>
                    <p>55000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/LatestMobileImages/n20 green-600x600.jpg" class="img-responsive" />
                    <p><strong>Lenova</strong></p>
                    <p>23000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
        </div>
    </div>

</div>


<h1>Top Selling Mobiles</h1>

<div class="bg-1">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/TopSellingMobiles/61waHuOP9FL._SL1500_-600x600.jpg" class="img-responsive" />
                    <p><strong>I-phone</strong></p>
                    <p>60000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/TopSellingMobiles/71K413NPv9L._SL1500_-600x600.jpg" class="img-responsive" />
                    <p><strong>Galaxy s2</strong></p>
                    <p>40000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/TopSellingMobiles/apple-iphone-xr-mrya2hn-a-original-imafa6zk92mes57p-600x600.jpeg" class="img-responsive" />
                    <p><strong>Oneplus</strong></p>
                    <p>38000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/TopSellingMobiles/apple-iphone-xr-mrya2hn-a-original-imafa6zkgrdrpuby-600x600.jpeg" class="img-responsive" />
                    <p><strong>f17</strong></p>
                    <p>55000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/TopSellingMobiles/oppo-f15-cph2001-original-imafzyp3byxa2mkr-600x600.jpeg" class="img-responsive" />
                    <p><strong>Reno</strong></p>
                    <p>45000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/TopSellingMobiles/realme x-600x600.jpg" class="img-responsive" />
                    <p><strong>Lenova</strong></p>
                    <p>23000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h1>Samsung Mobiles</h1>

<div class="bg-1">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/SamsungMobileImages/m21-600x600.jpg" class="img-responsive" />
                    <p><strong>Samsung</strong></p>
                    <p>20000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/SamsungMobileImages/m31 black-600x600.jpg" class="img-responsive" />
                    <p><strong>Samsung</strong></p>
                    <p>23000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/SamsungMobileImages/m31 black.-600x600.jpg" class="img-responsive" />
                    <p><strong>Samsung</strong></p>
                    <p>45000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/SamsungMobileImages/n20 green-600x600.jpg" class="img-responsive" />
                    <p><strong>Samsung</strong></p>
                    <p>52000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/SamsungMobileImages/s20 fe navy 1-600x600.jpg" class="img-responsive" />
                    <p><strong>Samsung</strong></p>
                    <p>39000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/SamsungMobileImages/samsung-s20-ultra-600x600.gif" class="img-responsive" />
                    <p><strong>Samsung</strong></p>
                    <p>27000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h1>Oppo Mobiles</h1>

<div class="bg-1">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/OppoMobileImages/oppo-a53-cph2127-original-imafuyy5zctauyvh-600x600.jpeg" class="img-responsive" />
                    <p><strong>Oppo</strong></p>
                    <p>45000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/OppoMobileImages/oppo a33 1-600x600.jpg" class="img-responsive" />
                    <p><strong>Oppo</strong></p>
                    <p>34000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/OppoMobileImages/oppo a52-600x600.jpg" class="img-responsive" />
                    <p><strong>Oppo</strong></p>
                    <p>62000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/OppoMobileImages/oppo f17 pro 1-600x600.jpg" class="img-responsive" />
                    <p><strong>Oppo</strong></p>
                    <p>38000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/OppoMobileImages/reno4 pro.-600x600.jpg" class="img-responsive" />
                    <p><strong>Oppo</strong></p>
                    <p>41000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/OppoMobileImages/reno-4-600x600.gif" class="img-responsive" />
                    <p><strong>Oppo</strong></p>
                    <p>37000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h1>Vivo Mobiles</h1>

<div class="bg-1">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/VivoMobileImages/514ETCdN3CL._SL1200_-600x600.jpg" class="img-responsive" />
                    <p><strong>Vivo</strong></p>
                    <p>41000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/VivoMobileImages/51GDqqU7Y1L._SL1200_-600x600.jpg" class="img-responsive" />
                    <p><strong>Vivo</strong></p>
                    <p>29000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/VivoMobileImages/black.jpg2-600x600.jpg" class="img-responsive" />
                    <p><strong>Vivo</strong></p>
                    <p>32000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/VivoMobileImages/vivo y15-600x600.jpg" class="img-responsive" />
                    <p><strong>Vivo</strong></p>
                    <p>34000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/VivoMobileImages/vivo y20 1-600x600.jpg" class="img-responsive" />
                    <p><strong>Vivo</strong></p>
                    <p>51000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="thumbnail">
                    <img src="~/Content/Images/MobileImages/VivoMobileImages/y30-600x600.jpg" class="img-responsive" />
                    <p><strong>Vivo</strong></p>
                    <p>51000</p>
                    <button class="btn" data-toggle="modal" data-target="#myModal">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>